<h1>New friends</h1>
  <table class="list">
   <% @newfriends.each do |user| %>
    <tr>
      <td class="listAvatar" rowspan="2"><%= image_tag user.photo.url(:detail) %></td>
      <td class="listName"><b><%= link_to user.full_name, member_path(user.friend_id) %></b></td>
    <tr>
      <td class="listEnd"><%= link_to "add", newfriend_index_path(user), method: :post %> |
          <%= link_to "delete", newfriend_path(user), method: :delete %></td>
   <% end %>
  </table>